head{
background-color: #f6eeee; 
font-family: Courier New, Lucida Console, monotype; 
font-size: 40px; 
color: #00008B;
 	margin-top: 50px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 150px;
}

body{
background-color: #f6eeee; 
font-family: Courier New, Lucida Console, monotype; 
font-size: 30px;
font-style: italic;
color: #FF241B;
}

h1{
background-color: #f6eeee; 
font-family: Courier New, Lucida Console, monotype; 
font-size: 20px; 
color: red;
}








 
 