body { 
background-color: #f6eeee; 
font-family: Courier New, Lucida Console, monotype; 
font-size: 20px; 
color: #00008B;
 	margin-top: 50px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 150px;
}

head {
	font-size: 50px; 
color: #00008B;
 	margin-top: 50px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 150px;
}

