head{
	background-color: #6f8cba; 
	font-family: Courier New, Lucida Console, monotype; 
	font-size: 20px; 
	color: white;
	margin-top: 50px;
	margin-bottom: 100px;
	margin-right: 150px;
	margin-left: 150px;
}

body{
	background-color: #6f8cba; 
	font-family: Courier New, Lucida Console, monotype; 
	color: white;
}

h1{
	font-size: 100px; 
}


.clickMe{
	background-color: white;
	border: none;
	padding: 14px 20px;
	text-align: justify;
	text-decoration: none!important; 
	font-size: 20px;
	width:20%;
	float: left;
	margin: 0 auto;
	display: block;
	margin-bottom: 100px;
	margin-right: 200px;
	margin-left: 450px;
}

.clickMe:hover{
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.title{
	background-color: #6f8cba; 
	font-family: Courier New, Lucida Console, monotype; 
	font-size: 50px;
	font-style: italic;
	color: white;
}

#sun{
	background-color: white;
}

#sand{
	background-color: blue;
}

#sunclick{
	font-size: 50px; 
}

