body {
	width: 100%; height: 100%;
	margin: 0; padding: 0;
	position: absolute;
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	background-color: white;
	background-image: url("images/background.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100%;
}

.secondbackground {
	background-color: dimgrey;
	background-image:none;

}


a {
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	font-size: 16px;
	color: #dbe6e5;
	text-align: center;
}

a:hover {
	font-size: 40px;
	cursor: pointer;
}

a:active {
	color: #dbe6e5;
}

#head {
	text-align: center;
	color: purple;
}


p {
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	color: white;
	text-align: center;

}

img {
	display: block;
	margin: auto;
}

#enter {
	display: block;
	margin: auto;
	width: 550px;
	height: 380px;
}

#enter:hover {
	display: block;
	color: blue;
}


button {
	border-radius: 1px;
	background: #dbe6e5;
	color: #843791;
	width: 20%;
	margin: 1px;
	padding: 10px 10px;
	font-size: 18px;
	width: 250px;
	text-decoration: none;
	text-align: middle;
	margin-left: 10px;
	display: inline;
	float: left;
	position:relative;
	left: 28.3%;
	list-style:none;
	border-radius: 50px 50px;
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;

}

button:hover {
	color: white;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
	outline: none;
}

.buttonarray {
	text-align: center;
	background-color: transparent;
}

#about{
	width: 100%;
	display: none;
	float: left;
	padding: 30px;
	clear: both;
	padding-right: 75px;
}

#familyText{

	color: white;
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	font-size: 22px;
	padding-right: 60px;
	padding-top: 40px;
}

#family img{
	float: left;
	width:300px;
	height: auto;
	padding-left: 10px;
	padding-right: 40px;
	
}

#header{
	font-size: 40px;
	color: #dbe6e5;
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	padding-right: 60px;
	padding-top: 40px;
}

#menu {
	display: none;
	text-align: center;
	padding-top: 70px;
}

.info{
	font-size: 40px;
	color: #dbe6e5;
}

.address{
	font-size: 18px;
	color: #843791;
	padding: 30px;
	text-align: center;
}

.welcome{
	padding: 30px;
	text-align: center;
}


.container {
	position: relative;
	width: 50%;
	float: left;
}

.image {
	display: block;
	width: 50%;
	height: auto;

}

.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .5s ease;
	background-color: #843791 ;
}

.container:hover .overlay {
	opacity: 1;
}

.text {
	color: white;
	font-size: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}

/*SHRINK*/
.shrink img {
	width: 550px;
	height: auto;
	display: block;
	margin: auto;


	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	-ms-transition: all 1s ease;
	transition: all 1s ease;
}

.shrink img:hover {
	width: 520px;
	height: auto;
	display: block;
	margin: auto;
}